@page "/mitarbeiter"
@layout StandardLayout
@inherits SinDarElaVerwaltung.Pages.MitarbeiterComponent

@using Radzen
@using Radzen.Blazor
@using SinDarElaVerwaltung.Models.DbSinDarEla
<PageTitle>Mitarbeiter</PageTitle>
<RadzenContent Container="main">
  <ChildContent>
    <div style="height: ; margin-top: -7px; padding-bottom: 0; padding-left: 5px; padding-right: 3px; padding-top: 0; width: " class="row">
      <div class="justify-content-start       d-flex align-items-center          col-md-8" style="height: 52px; padding-bottom: 1px">
        <RadzenHeading Size="H1" style="color: #505C6D; display: inline-block; margin-bottom: 0" Text="Mitarbeiter">
        </RadzenHeading>
        <RadzenHeading Size="H3" style="color: #e5ecef; display: inline-block; margin-bottom: 0; margin-top: 1px; padding-left: 15px; padding-right: 15px" Text="|">
        </RadzenHeading>
        <RadzenHeading Size="H3" style="color: #505C6D; display: inline; font-size: 21px; font-weight: normal; margin-bottom: 0; margin-top: 8px" Text="@strMitarbeiterName" >
        </RadzenHeading>
      </div>
      <div class="col-md-4  d-flex justify-content-end align-items-end" style="padding-right: 20px">
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="description" Shade="Shade.Default" Size="ButtonSize.Medium" style="color: #6A80AA; display: block; font-weight: normal" Text="Berichte" Variant="Variant.Text" Click="@ButtonBerichreClick">
        </RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="view_list" Size="ButtonSize.Medium" style="color: #6A80AA; display: block; font-weight: normal" Text="Listen" Variant="Variant.Text" Click="@ButtonListenClick">
        </RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="assessment" Size="ButtonSize.Medium" style="color: #6A80AA; display: block; font-weight: normal" Text="Analysen" Variant="Variant.Text" Click="@ButtonSuchenClick">
        </RadzenButton>
        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="dashboard" Size="ButtonSize.Medium" style="color: #6A80AA; display: block; font-weight: normal" Text="Dashboard" Variant="Variant.Text" Click="@Button0Click">
        </RadzenButton>
      </div>
    </div>
    <RadzenTabs style="float: none">
      <Tabs>
        <RadzenTabsItem Selected="true" Text="Allgemein">
          <ChildContent>
            <div  class="row">
              <div class="col-md-7" style="padding-left: 0">
                <RadzenPanel style="border: 1px solid #e6ecef; height: 779px" Text="Mitarbeiter">
                  <ChildContent>
                    <div class="row">
                      <div class="col-md-12">
                        <RadzenDataGrid @ref="datagrid3" AllowFiltering="true" AllowPaging="true" AllowSorting="true" Count="@getBasesCount" Data="@getBasesResult" Density="Density.Compact" FilterDelay="500" FilterMode="Radzen.FilterMode.Advanced" TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" PageSize="26" Responsive="false" style="border: 1px solid rgba(0, 0, 0, 0); height: 724px; margin-top: 10px" LoadData="@Datagrid3LoadData" RowSelect="@Datagrid3RowSelect">
                          <Columns>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" Property="Name1" Title="Name 1">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" Property="Name2" Title="Name 2">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" Property="Strasse" Title="Strasse">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" Property="PLZ" Title="PLZ">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" Property="Ort" Title="Ort">
                            </RadzenDataGridColumn>
                            <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.Base" FormatString="{0:d}" Property="Geburtsdatum" Title="Geburtsdatum">
                            </RadzenDataGridColumn>
                          </Columns>
                        </RadzenDataGrid>
                      </div>
                    </div>
                  </ChildContent>
                  <HeaderTemplate>
                    <div class="row">
                      <div class="col-md-12 align-items-start d-flex">
                        <RadzenTextBox Placeholder="Suchen" style="background-color: rgba(0, 0, 0, 0); border: 1px solid rgba(0, 0, 0, 0); border-bottom: 1px dotted #ecebe9; width: 200px" Name="Textbox0">
                        </RadzenTextBox>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="add" Size="ButtonSize.Medium" style="color: #A95106; display: block" Text="Neuer Mitarbeiter" Variant="Variant.Text">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="create" IsBusy="false" Size="ButtonSize.Medium" style="color: #A95106; display: block; font-weight: 400; padding-left: " Text="Bearbeiten" Tooltip="Bearbeiten Infotext" Variant="Variant.Text">
                        </RadzenButton>
                      </div>
                    </div>
                  </HeaderTemplate>
                </RadzenPanel>
              </div>
              <div class="col-md-5" style="padding-left: 0; padding-right: 0">
                <RadzenPanel style="border: 1px solid #e6ecef; height: 200px" Text="Firmen">
                  <ChildContent>
                    <RadzenDataGrid @ref="grid0" AllowCompositeDataCells="true" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ColumnWidth="150px" Data="@getVwMitarbeiterFirmensResult" Density="Density.Compact" FilterMode="Radzen.FilterMode.Advanced" TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" style="border: 1px solid rgba(0, 0, 0, 0); height: 140px; margin-top: 10px" LoadData="@Grid0LoadData">
                      <Columns>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" Frozen="true" Property="FirmaName" Title="Name" Width="300px">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" Property="Position" Title="Position">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" Property="Status" Title="Status">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" FormatString="{0:d}" Property="ArbeitsrechtEintritt" Title="Arbeitsrecht Eintritt">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" FormatString="{0:d}" Property="LetzterEintritt" Title="Letzter Eintritt">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" FormatString="{0:d}" Property="ArbeitsrechtAustritt" Title="Arbeitsrecht Austritt">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" FormatString="{0:d}" Property="LetzterAustritt" Title="Letzter Austritt">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterFirmen" Property="Notiz" Title="Notiz">
                        </RadzenDataGridColumn>
                      </Columns>
                    </RadzenDataGrid>
                  </ChildContent>
                  <HeaderTemplate>
                    <div class="row">
                      <div class="col-md-12 align-items-start d-flex">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="add" Size="ButtonSize.Medium" style="color: #A95106; display: block; float: none" Text="Hinzufügen" Variant="Variant.Text">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="create" Size="ButtonSize.Medium" style="color: #A95106; display: block" Text="Bearbeiten" Variant="Variant.Text">
                        </RadzenButton>
                      </div>
                    </div>
                  </HeaderTemplate>
                </RadzenPanel>
                <RadzenPanel style="border: 1px solid #e6ecef; height: 205px; margin-top: 16px" Text="Tätigkeiten">
                  <ChildContent>
                    <RadzenDataGrid @ref="datagrid0" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ColumnWidth="150px" Data="@getVwMitarbeiterTaetigkeitensResult" Density="Density.Compact" FilterMode="Radzen.FilterMode.Simple" TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterTaetigkeiten" style="border: 1px solid rgba(0, 0, 0, 0); height: 145px; margin-top: 10px" LoadData="@Datagrid0LoadData">
                      <Columns>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterTaetigkeiten" Property="TaetigkeitArt" Title="Art">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterTaetigkeiten" Property="LeistungSchluessel" Title="Schlüssel">
                        </RadzenDataGridColumn>
                      </Columns>
                    </RadzenDataGrid>
                  </ChildContent>
                  <HeaderTemplate>
                    <div class="row">
                      <div class="col-md-12 align-items-start d-flex">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="add" Shade="Shade.Default" Size="ButtonSize.Medium" style="color: #A95106; display: block; float: none" Text="Hinzufügen" Variant="Variant.Text">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="create" Shade="Shade.Default" Size="ButtonSize.Medium" style="color: #A95106; display: block" Text="Bearbeiten" Variant="Variant.Text">
                        </RadzenButton>
                      </div>
                    </div>
                  </HeaderTemplate>
                </RadzenPanel>
                <RadzenPanel style="border: 1px solid #e6ecef; height: 342px; margin-top: 16px" Text="Kunden">
                  <ChildContent>
                    <RadzenDataGrid @ref="datagrid1" AllowFiltering="false" AllowPaging="false" AllowSorting="false" ColumnWidth="150px" Data="@getVwMitarbeiterKundensResult" Density="Density.Compact" FilterMode="Radzen.FilterMode.Simple" TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterKunden" style="border: 1px solid rgba(0, 0, 0, 0); height: 282px; margin-top: 10px" LoadData="@Datagrid1LoadData" RowSelect="@Datagrid1RowSelect">
                      <Columns>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterKunden" Property="KundeName" Title="Name">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterKunden" Property="LeistungArt" Title="Leistung Art">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterKunden" Property="LeistungSchluessel" Title="Leistung Schlüssel">
                        </RadzenDataGridColumn>
                        <RadzenDataGridColumn TItem="SinDarElaVerwaltung.Models.DbSinDarEla.VwMitarbeiterKunden" Property="Betreuungsart" Title="Betreuungsart">
                        </RadzenDataGridColumn>
                      </Columns>
                    </RadzenDataGrid>
                  </ChildContent>
                  <HeaderTemplate>
                    <div class="row">
                      <div class="col-md-12 align-items-start d-flex">
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" Icon="content_copy" Shade="Shade.Default" Size="ButtonSize.Medium" style="color: #A95106; display: block; float: none" Text="Kopieren" Variant="Variant.Text">
                        </RadzenButton>
                        <RadzenButton ButtonStyle="ButtonStyle.Secondary" ButtonType="ButtonType.Button" Icon="create" Shade="Shade.Default" Size="ButtonSize.Medium" style="color: #A95106; display: block" Text="Bearbeiten" Variant="Variant.Text">
                        </RadzenButton>
                      </div>
                    </div>
                  </HeaderTemplate>
                </RadzenPanel>
              </div>
            </div>
          </ChildContent>
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Anstellung">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Urlaub">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Kalender">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Fortbildungen">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Kundenbudget">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Dokumente">
        </RadzenTabsItem>
        <RadzenTabsItem Selected="false" Text="Notizen">
        </RadzenTabsItem>
      </Tabs>
    </RadzenTabs>
  </ChildContent>
</RadzenContent>
