@inherits SinDarElaVerwaltung.Layouts.MainLayoutComponent

@using Radzen
@using Radzen.Blazor
@using SinDarElaVerwaltung.Models.DbSinDarEla
@using Microsoft.AspNetCore.Identity;
@using SinDarElaVerwaltung.Models
@using SinDarElaVerwaltung.Pages
<RadzenDialog />
<RadzenNotification />
<RadzenTooltip />
<RadzenContextMenu />

<RadzenLayout>
  <ChildContent>
    <RadzenHeader>
      <ChildContent>
        <div class="row justify-content-start align-items-center">
          <div class="col-6 d-flex align-items-center" style="padding-left: 25px">
            <RadzenSidebarToggle Click="@SidebarToggle0Click" style="font-size: 1.5rem;">
            </RadzenSidebarToggle>
            <RadzenImage Path="assets/images/LogoMitSchriftzug4.png" style="float: left; height: 30px">
            </RadzenImage>
            <RadzenLabel style="color: #E8E8E8; float: none; font-size: 12px; padding-left: 10px; padding-right: 10px" Text="|">
            </RadzenLabel>
            <RadzenLabel style="color: #E8E8E8; float: none; font-family: verdana,geneva,sans-serif; font-size: 12px; font-weight: normal" Text="SinDarEla">
            </RadzenLabel>
          </div>
          <div class="col-6 text-right justify-content-end d-flex">
            <RadzenProfileMenu style="display: block" Visible="@(Security.IsAuthenticated())" Click="@Profilemenu1Click">
              <ChildContent>
                <RadzenProfileMenuItem Icon="account_circle" Text="Benutzerprofil">
                </RadzenProfileMenuItem>
                <RadzenProfileMenuItem Icon="power_settings_new" Text="Logout">
                </RadzenProfileMenuItem>
              </ChildContent>
              <Template>
                <div class="col-md-12  d-flex justify-content-end align-items-center">
                  <RadzenLabel style="color: #E8E8E8; display: inline-block; font-family: verdana,geneva,sans-serif; font-size: 12px; margin-right: 20px" Text="@($"{(Security.User.UserName)}")">
                  </RadzenLabel>
                  <RadzenImage Path="@strBildURL" style="border-radius: 50%; display: block; float: none; height: 32px; width: 32px">
                  </RadzenImage>
                </div>
              </Template>
            </RadzenProfileMenu>
          </div>
        </div>
      </ChildContent>
    </RadzenHeader>
    <RadzenBody @ref="body0">
      <ChildContent>
        <RadzenContentContainer Name="main">
        @Body
        </RadzenContentContainer>
      </ChildContent>
    </RadzenBody>
    <RadzenFooter style="height: 50px; padding-top: 10px">
      <ChildContent>
        <RadzenLabel style="color: #6d787d; float: none; padding-top: 2px" Text="© 2022 Soziale-Dienste-Ennstal">
        </RadzenLabel>
        <RadzenLabel style="color: #e5ecef; float: none; padding-left: 10px; padding-right: 10px" Text="|">
        </RadzenLabel>
        <RadzenLabel style="color: #6d787d; float: none; padding-top: 2px" Text="Irdning · Hauptplatz 20">
        </RadzenLabel>
        <RadzenLink Path="versionen" style="float: right" Text="Version 3.024">
        </RadzenLink>
        <RadzenLabel style="color: #e5ecef; float: right; padding-left: 10px; padding-right: 10px" Text="|">
        </RadzenLabel>
        <RadzenLink Path="kontakt" style="float: right" Text="Kontakt">
        </RadzenLink>
        <RadzenLabel style="color: #e5ecef; float: right; padding-left: 10px; padding-right: 10px" Text="|">
        </RadzenLabel>
        <RadzenLink Path="handbuch" style="float: right" Text="Handbuch">
        </RadzenLink>
        <RadzenLabel style="color: #e5ecef; float: right; padding-left: 10px; padding-right: 10px" Text="|">
        </RadzenLabel>
        <RadzenLink Path="feedback" style="float: right" Text="Feedback">
        </RadzenLink>
      </ChildContent>
    </RadzenFooter>
    <RadzenSidebar @ref="sidebar0" style="width: 191px">
      <ChildContent>
        <RadzenPanelMenu style="height: 100%; width: 190px">
          <ChildContent>
            <RadzenPanelMenuItem Icon="dashboard" Path="dashboard" Text="Dashboard" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="assignment_turned_in" Text="Management">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="assignment" Text="Dienstplan">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="assignment_ind" Text="Mitarbeiter">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="face" Text="Kunden">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="contact_phone" Text="Kontakte">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="create_new_folder" Text="Dokumente">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="assessment" Text="Auswertungen">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="euro_symbol" Text="Abrechnung">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="supervisor_account" Path="infotexte-html" Text="Benutzer" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="face" Path="benutzerprofil" Text="Benutzerprofil" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Icon="settings" Path="einstellungen" Text="Einstellungen" Visible="@Security.IsInRole(new string[]{"Authenticated"})">
            </RadzenPanelMenuItem>
          </ChildContent>
        </RadzenPanelMenu>
      </ChildContent>
    </RadzenSidebar>
  </ChildContent>
</RadzenLayout>
